---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Diseño Gráfico",
    description:
      "Creamos una imagen de marca atractiva y memorable que te ayude a conectar con tu audiencia.",
    icon: "subway:brush",
  },
  {
    title: "Diseño Web Responsivo",
    description:
      "Tu sitio web se verá bien en cualquier dispositivo, desde teléfonos inteligentes hasta computadoras de escritorio.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Seo",
    description:
      "Optimizamos tu sitio web para que sea visible en los motores de búsqueda y atraiga a más clientes. ",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Hosting y Dominio",
    description:
      "Te brindamos el alojamiento y el dominio que necesitas para que tu sitio web esté siempre disponible y seguro.",
    icon: "simple-icons:vercel",
  },
  {
    title: "Correo Corporativo",
    description:
      "Te proporcionamos una dirección de correo electrónico profesional que refleje la imagen de tu empresa.",
    icon: "bx:bxs-envelope",
  },
  {
    title: "Desarrollo a la medida",
    description:
      "Creamos un sitio web personalizado que satisfaga tus necesidades específicas y te ayude a alcanzar tus objetivos.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Todo lo que necesitas para tu sitio web
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Creamos experiencias digitales impactantes y funcionales que destacarán tu marca y cautivarán a tu audiencia.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
